/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */
:root{
    --dark-pri-color: darkolivegreen    ;
    --light-pri-color: yellowgreen  ;
    --pri-color:olive;
    --text-color: whitesmoke;
    --accent-color: wheat;
    --sec-text-color: yellow;
    --divider-color: #8ca3a3;
    --item-color: whitesmoke;

font-family: 'Baloo 2', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Mukta', sans-serif;

    --text-font: 'Baloo 2', cursive;
    --sec-text-font: 'Rubik', sans-serif;
    --heading-font: 'Mukta', sans-serif;
}

/* Layout */
body{
    font-family: var(--text-font);
    background: var(--item-color);
    color: var(--text-color);
    box-sizing: border-box;
    margin-left: 130px;
    margin-right: 100px;
    }
footer, main, aside, article, div, header{
    clear: both;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 20px;
}
nav{
    text-align: center;
    line-height: 3;
}

main{
    padding: 20px;
}
.container{
    background: var(--dark-pri-color);
    color: var(--item-color);
    width: 100%;

    max-width: 1200px;
    margin: 10px auto;
    border: 3px solid var(--light-pri-color);
    border-radius: 5px;
    overflow: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
nav{
    text-align: center;
    line-height: 2;
}
nav .button{
    text-decoration: none;
    background: var(--sec-text-color);
    border: 3px solid var(--item-color);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 20px;
    color: var(--item-color);
    font-family: var(--sec-text-font);
}
nav .button:visited{
    color: var(--accent-color);
}
nav .button:hover{
    background: var(--item-color);
    color: var(--text-color);
    border: 3px solid var(--accent-color);
}
footer{
    text-align: left;
    color: var(--sec-text-color)
}
img{
    border: 2px solid var(--sec-text-color);
    margin: 25px;
}
aside{
    width: 20%;
    border: 3px solid var(--divider-color);
    background: var(--light-pri-color);
    color: var(--text-color);
    overflow: auto;
    padding: 10px;
    margin: 40px;
}
article{
    width: 80% auto;
    border: 3px solid var(--divider-color);
    background: var(--light-pri-color);
    color: var(--text-color);
    overflow: auto;
    padding: 10px;
    margin: 30px;
}
.horizontal-menu{
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    list-style: none;
}
.horizontal-menu a{
    text-decoration: none;
}
.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: var(--light-pri-color);
    color: var(--dark-pri-color);
}
h1, h2{
    margin: 20px;
}
h1{
    color: var(--sec-text-color);
    font-size: 40px;
    font-family: var(--heading-font);
    text-align: center;
}
h2{
    color: var(--sec-text-color);
    font-size: 30px;
    font-family: var(--text-font);
}
h3{
    color: var(--text-color);
    font-size: 25px;
    padding: 10px;
}
p{
    line-height: 1.2;
}
div{
    text-align: center;
}
p{
    padding: 10px;
}
dt{
    font-size: 23px;
    color: var(--dark-pri-color);
    font-weight: bold;
}
dd{
    font-size: 17px;
    padding: 10px;
    line-height: 1.2;
}
.image{
    width: 33%;
    margin-right: 20px;
    border: 1px solid var(--divider-color);
}
.image2{
    width: 25%;
}
.video{
    border: 2px solid var(--sec-text-color); 
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    float: left;
}

form{
    background-color: var(--dark-pri-color);
    color: var(--text-color);
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    line-height: 40px;
}
label, input{
    float: left;
}
label{
    font-size: 25px;
}
input[type=text]{
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--divider-color);
    margin: 10px;
}
textarea{
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--divider-color);
}
form select{
font-size: 20px;
padding: 5px;
}
form input:focus{
    background-color: var(--accent-color);
}
form input{
    font-size: 20px;
}
input[type="radio"]{
    margin-left: 35px;
}
input[type="checkbox"]{
    margin-left: 35px;
}
textarea{
    font-size: 15px;
}
